<div id="footer">
    <div class="container">
        <p class="text-muted">&copy; 2014 by Travis Hance, Jean Yang, and Ariel Jacobs.<br>
        <p class="text-muted">&copy; 2023 by Anonymous Author(s). Powered by TTC.<br>
    </div>
</div>
