{{ comment }}
	This page is the front page of the site, giving an overview of all patients
	and all covered entities the user knows about.
{{ endcomment }}
<html><body>
{% extends 'collection/hipaa/base.html' %}

{% block title %}
	Home
{% endblock %}

{% block top %}
	<h2>
		All data
	</h2>
{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>Welcome {{ name }}.</h1>
	</div>
	<ul class="col-md-6">
		<lh  class="list-group-item">
			<h3 class="list-group-item-heading">
				Patients
			</h3>
		</lh>
		{% for patient in patients %}
			<li class="list-group-item">
				<a href="/6/patients/{{ patient[0] }}/">
					{{ patient[1] }} {{ patient[2] }}
				</a>
			</li>
		{% endfor %}

	</ul>
	<ul class="col-md-6">
		<lh  class="list-group-item">
			<h3 class="list-group-item-heading">
				Entities
			</h3>
		</lh>
		{% for entity in entities %}
			<li class="list-group-item">
				<a href="/6/entities/{{ entity[0] }}/">
					{{ entity[2] }}
				</a>
			</li>
		{% endfor %}
	</ul>
{% endblock %}
</body></html>
