{% extends "layout.html" %}
{% block title %}
Privacy notice
{% endblock %}
{% block body %}
<form action="" method="post">
    <ul class="messages">
        {% for c in consents %}
        <li>
            <input type="checkbox" id="{{ c[0] }}" name="{{ c[0] }}" {% if c[4]==1 %} checked {% endif %}">
            <label for="{{ c[0] }}"><strong> We use your {{ c[2] }} for the purpose of {{ c[3] }}. </strong></label>
        </li>
        {% endfor %}
    </ul>
    <div class="actions"><input type="submit" value="Update"></div>
</form>
{% endblock %}
