<!doctype html>
<title>{% block title %}Welcome{% endblock %} | MiniTwit</title>
<link rel=stylesheet type=text/css href="/static/css/minitwit.css">
<div class=page>
  <h1>MiniTwit</h1>
  <div class=navigation>
  {% if user %}
    <a href="./">my timeline</a> |
    <a href="public">public timeline</a> |
    <a href="logout">sign out [{{ user[2] }}]</a>
  {% else %}
    <a href="public">public timeline</a> |
    <a href="register">sign up</a> |
    <a href="login">sign in</a>
  {% endif %}
  </div>
  {% if flash %}
  <ul class=flashes>
    <li>{{ flash }}</li>
  </ul>
  {% endif %}
  <div class=body>
  {% block body %}{% endblock %}
  </div>
  <div class=footer>
    MiniTwit &mdash; A Flask Application
  </div>
</div>
