<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-sm-8 offset-sm-2">
	  <div class="card">
	    <h5 class="card-header">Your profile</h5>
	    <div class="card-header">Token</div>
	    <div class="card-body">
	      <div class="card-text">
		<form action="/profile/change_name" method="post">
		  <div class="form-group mb-1">
		    <label for="relation">Token</label>
		    <input type="text" class="form-control" id="token_id" name="token" value="{{ token }}" readonly>
		  </div>
		  <div class="form-group mb-1">
		    <label for="relation">User ID</label>
		    <input type="text" class="form-control" id="user_id_id" name="user_id" value="{{ user_id }}" readonly>
		  </div>
		  <a href="{{ url_for('reset_token') }}" class="btn btn-primary">Reset token</a>
		</form>
	      </div>
	    </div>
	    <div class="card-header">Name change</div>
	    <div class="card-body">
	      <div class="card-text">
		<form action="/profile/change_name" method="post">
		  <div class="form-group mb-1">
		    <label for="relation">Name</label>
		    <input type="text" class="form-control {% if status == "2" %}is-valid{% endif %}" id="name_id" name="name" value="{{ name }}">
		    {% if status == "2" %}
		    <div class="valid-feedback">
		      Your name was changed successfully
                    </div>
		    {% endif %}
		  </div>
		  <button type="submit" class="btn btn-primary">Change name</button>
		</form>
	      </div>
	    </div>
	    <div class="card-header">Password change</div>
	    <div class="card-body">
	      <div class="card-text">
		<form action="/profile/change_password" method="post">
		  <div class="form-group mb-1">
		    <label for="relation">Password</label>
		    <input type="password" class="form-control {% if status == "-1" %}is-invalid{% elif status == "1" %}is-valid{% endif %}" id="password_id" name="password">
		  </div>
		  <div class="form-group mb-1">
		    <label for="relation">Repeat password</label>
		    <input type="password" class="form-control {% if status == "-1" %}is-invalid{% elif status == "1" %}is-valid{% endif %}" id="repeat_id" name="repeat">
		    {% if status == "-1" %}
		    <div class="invalid-feedback">
		      The two passwords do not match.
		    </div>
		    {% elif status == "1" %}
		    <div class="valid-feedback">
		      Your password was changed successfully.
		    </div>
		    {% endif %}
		  </div>
		  <button type="submit" class="btn btn-primary">Change password</button>
		</form>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
  </body>
</html>
