<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/record.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-lg-8 offset-lg-2 col-sm-12">
	  <div class="card">
	    <h5 class="card-header">Privacy dashboard</h5>
	    <div class="card-header">Collection</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application to which data was input">Application</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr>
		      &nbsp;<span style="font-size:10px">(Click UT for
			<abbr title="Outputs influenced by the input">interferences</abbr> / consent)
		    </span></td>
		  </thead>
		  {% for input in inputs.response %}
		  <tr class="event-row" id="in-{{ input.UT }}">
		    <td class="col-4">{{ input.timestamp }}</td>
		    <td class="col-2">{{ input.app }}</td>
		    <td class="col-6">
		      <div data-bs-toggle="collapse" data-bs-target="#in-collapse-{{ input.UT }}"
			   class="accordion-toggle">
			{% if input.special %}
			<abbr title="Special data"><span class="badge bg-danger">S</span></abbr>
			{% endif %}
			{{ input.UT }}
		      </div>
		      <div class="collapse" id="in-collapse-{{ input.UT }}">
			&#8605;
			{% for oid in input.outputs %}
			<a class="link-info" href="#out-{{ oid }}">{{ oid | truncate(11,true,'...') }}</a>
			{% endfor %} <br>
			&#10003;
			{% for c in input.consents %}
			<a class="link-info" href="#dsconsent-{{ c }}">{{ c }}</a>
			{% endfor %}
			{% if not input.deleted %}
			<a class="link-success" href="javascript:openAddConsentModal('{{ input.UT }}')">+new</a>
			{% endif %} <br>
			&#9874;
			{% for c in input.legal_grounds %}
			<a class="link-info" href="#legalground-{{ c }}">{{ c }}</a>
			{% endfor %} <br>
			&#x2717;
			{% if input.deletion is defined %}
			{% if input.deleted %}
			<a class="link-danger" href="#dserase-{{ input.deletion }}">erased!</a>
			{% else %}
			<a class="link-danger" href="#dserase-{{ input.deletion }}">erasure request pending</a>
			{% endif %}
			{% else %}
			<a class="link-danger" href="javascript:openEraseModal('{{ input.UT }}')">-erase</a>
			{% endif %} <br>
			&#9998;
			{% for c in input.rectifications %}
			<a class="link-info" href="#dsrectify-{{ c }}">{{ c }}</a>
			{% endfor %}
			<a class="link-success" href="javascript:openRectifyModal('{{ input.UT }}')">+rectify</a>
			<br>
			&#10528;
			{% for c in input.accesses %}
			<a class="link-info" href="#dsaccess-{{ c }}">{{ c }}</a>
			{% endfor %}
			({% for c in input.access_requests %}
			<a class="link-info" href="#dsaccess2-{{ c }}">{{ c }}</a>
			{% endfor %})
			{% if not input.deleted %}
			<a class="link-success" href="javascript:openAccessModal('{{ input.UT }}')">+new</a>
			{% endif %} <br>
			&#128711;{% if input.restricted %}
			Restricted. 
			<a class="link-success" href="{{ url_for('repeal', u=user_id, app=input.app, ut=input.UT) }}">Revoke restriction</a>
			{% else %}
        		<a class="link-danger" href="{{ url_for('restrict', u=user_id, app=input.app, ut=input.UT) }}">Restrict</a>
                        {% endif %} <br>
		      </div>
		    </td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Usage</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application which performed the output">Application</abbr></td>
		    <td><abbr title="Purpose of the output">Purpose</abbr></td>
		    <td><abbr title="Unique output identifier">Output id</abbr>
		      &nbsp;<span style="font-size:10px">(Click id for
			<abbr title="Inputs which influenced the output">interferences</abbr>)
		    </span></td>
		    <td></td>
		  </thead>
		  {% for output in outputs.response %}
		  <tr class="event-row" id="out-{{ output.id }}">
		    <td class="col-4">{{ output.timestamp }}</td>
		    <td class="col-1">{{ output.app }}</td>
		    <td class="col-1">{{ output.purpose }}</td>
		    <td class="col-6">
		      <div data-bs-toggle="collapse" data-bs-target="#out-collapse-{{ output.id }}"
			   class="accordion-toggle">
			{{ output.id }}
		      </div>
		      <div class="collapse" id="out-collapse-{{ output.id }}">
			&#8604;
			{% for ut in output.inputs %}
			<a class="link-info" href="#in-{{ ut }}">{{ ut | truncate(11,true,'...') }}</a>
			{% endfor %}
		      </div>
		    </td>
		    <td>
		      {% if output.is_sharing %}
		      <abbr title="Involves sharing of data over the network">&#128423;</abbr>
		      {% endif %}
		    </td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Consent</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application to which consent was given">Application</abbr></td>
		    <td><abbr title="Purpose for which the consent was given">Purpose</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		  </thead>
		  {% for consent in consents.response %}
		  <tr class="event-row" id="dsconsent-{{ loop.index0 }}">
		    <td class="col-4">{{ consent.timestamp }}</td>
		    <td class="col-1">{{ consent.app }}</td>
		    <td class="col-1">{{ consent.purpose }}</td>
		    <td class="col-6"><a class="link-info" href="#in-{{ consent.UT }}">{{ consent.UT }}</a>
		      <a class="link-danger" href="{{ url_for('revoke_consent', u=user_id, app=consent.app, purpose=consent.purpose, ut=consent.UT) }}">Revoke</a>
		    </td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Erasure requests</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application for which erasure was requested">Application</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		  </thead>
		  {% for deletion in deletions.response %}
		  <tr class="event-row" id="dserase-{{ loop.index0 }}">
		    <td class="col-5">{{ deletion.timestamp1 }}
		      (<abbr title="Time of submission of deletion request">req.</abbr>)<br>
		      {% if deletion.timestamp2 %}{{ deletion.timestamp2 }} (<abbr title="Time of deletion">comp.</abbr>){% else %}Erasure not yet completed{% endif %}</td>
		    <td class="col-1">{{ deletion.app }}</td>
		    <td class="col-6"><a class="link-info" href="#in-{{ deletion.UT }}">{{ deletion.UT }}</a></td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Rectification requests</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application for which rectification was requested">Application</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		  </thead>
		  {% for rectification in rectifications.response %}
		  <tr class="event-row" id="dsrectify-{{ loop.index0 }}">
		    <td class="col-5">{{ rectification.timestamp1 }}
		      (<abbr title="Time of submission of rectification request">req.</abbr>)<br>
		      {% if rectification.timestamp2 %}{{ rectification.timestamp2 }} (<abbr title="Time of rectification">comp.</abbr>){% else %}Rectification not yet completed{% endif %}</td>
		    <td class="col-1">{{ rectification.app }}</td>
		    <td class="col-6"><a class="link-info" href="#in-{{ rectification.UT }}">{{ rectification.UT }}</a></td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Access requests</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application for which access was requested">Application</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		  </thead>
		  {% for access in accesses.response %}
		  <tr class="event-row" id="dsaccess-{{ loop.index0 }}">
		    <td class="col-5">{{ access.timestamp1 }}</td>
		    <td class="col-1">{{ access.app }}</td>
		    <td class="col-6"><a class="link-info" href="#in-{{ access.UT }}">{{ access.UT }}</a></td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Granted accesses</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application by which access was granted">Application</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		    <td>Link</td>
		  </thead>
		  {% for access in accesses2.response %}
		  <tr class="event-row" id="dsaccess2-{{ loop.index0 }}">
		    <td class="col-4">{{ access.timestamp1 }}</td>
		    <td class="col-1">{{ access.app }}</td>
		    <td class="col-6"><a class="link-info" href="#in-{{ access.UT }}">{{ access.UT }}</a></td>
		    <td class="col-1"><a class="link-success" href="{{ access.link }}">Access</a></td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	    <div class="card-header">Claims of legal grounds</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Time</td>
		    <td><abbr title="Application which claimed a legal ground">Application</abbr></td>
		    <td><abbr title="Legal ground claimed">Ground</abbr></td>
		    <td><abbr title="Unique input identifier">Unique taint</abbr></td>
		    <td>Link</td>
		  </thead>
		  {% for ground in legal_grounds.response %}
		  <tr class="event-row" id="legalground-{{ loop.index0 }}">
		    <td class="col-4">{{ ground.timestamp1 }}
		      (<abbr title="Time of claim">cl.</abbr>)
		      {% if ground.timestamp2 %}<br>{{ ground.timestamp2 }} (<abbr title="Time of objection">comp.</abbr>){% endif %}
		    </td>
		    <td class="col-1">{{ ground.app }}</td>
		    <td class="col-1">{{ ground.ground }}
		      {% if input.special %}
		      <abbr title="Special data"><span class="badge badge-danger">S</span></abbr>
		      {% endif %}
		    </td>
		    <td class="col-5"><a class="link-info" href="#in-{{ ground.UT }}">{{ ground.UT }}</a></td>
		    <td class="col-1">{% if not ground.timestamp2 %}<a href="/record/object/{{ ground.UT }}" class="link-success">Object</a>{% endif %}</td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>
    
    <script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>

    <div class="modal fade" id="addConsentModal" tabindex="-1" aria-labelledby="addConsentModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title" id="addConsentModalLabel">New consent</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
          <form action="/record/add_consent" method="post">
	    <div class="modal-body">
	      <div class="form-group mb-1">
		<label for="app">Application</label>
		<input type="text" class="form-control" id="consentModalApp" name="app" value="">
	      </div>
	      <div class="form-group mb-1">
		<label for="purpose">Purpose</label>
		<input type="text" class="form-control" id="consentModalPurpose" name="purpose" value="">
	      </div>
	      <div>
		<label for="ut">Unique taint</label>
		<input type="text" class="form-control" id="consentModalUT" name="ut" value="" readonly>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="btn btn-success">Add consent</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div class="modal fade" id="eraseModal" tabindex="-1" aria-labelledby="eraseModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title" id="eraseModalLabel">Request input erasure</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
          <form action="/record/erase" method="post">
	    <div class="modal-body">
	      <div class="form-group mb-1">
		<label for="app">Application</label>
		<input type="text" class="form-control" id="eraseModalApp" name="app" value="">
	      </div>
	      <div>
		<label for="ut">Unique taint</label>
		<input type="text" class="form-control" id="eraseModalUT" name="ut" value="" readonly>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="btn btn-success">Request input erasure</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div class="modal fade" id="rectifyModal" tabindex="-1" aria-labelledby="rectifyModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title" id="rectifyModalLabel">Request input rectification</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
          <form action="/record/rectify" method="post">
	    <div class="modal-body">
	      <div class="form-group mb-1">
		<label for="app">Application</label>
		<input type="text" class="form-control" id="rectifyModalApp" name="app" value="">
	      </div>
	      <div>
		<label for="ut">Unique taint</label>
		<input type="text" class="form-control" id="rectifyModalUT" name="ut" value="" readonly>
	      </div>
	      <div>
		<label for="value">New value</label>
		<input type="text" class="form-control" id="rectifyModalValue" name="value" value="">
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="btn btn-success">Request input rectification</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <div class="modal fade" id="accessModal" tabindex="-1" aria-labelledby="accessModalLabel" aria-hidden="true">
      <div class="modal-dialog">
	<div class="modal-content">
	  <div class="modal-header">
            <h5 class="modal-title" id="accessModalLabel">Request access</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
	  </div>
          <form action="/record/access" method="post">
	    <div class="modal-body">
	      <div class="form-group mb-1">
		<label for="app">Application</label>
		<input type="text" class="form-control" id="accessModalApp" name="app" value="">
	      </div>
	      <div>
		<label for="ut">Unique taint</label>
		<input type="text" class="form-control" id="accessModalUT" name="ut" value="" readonly>
	      </div>
	    </div>
	    <div class="modal-footer">
	      <button type="submit" class="btn btn-success">Request access</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
	    </div>
	  </form>
	</div>
      </div>
    </div>

    <script>
      function openAddConsentModal(ut) {
	  document.getElementById("consentModalUT").value = ut;
	  (new bootstrap.Modal(document.getElementById('addConsentModal'))).show();
      }
      function openEraseModal(ut) {
	  document.getElementById("eraseModalUT").value = ut;
	  (new bootstrap.Modal(document.getElementById('eraseModal'))).show();
      }
      function openRectifyModal(ut) {
	  document.getElementById("rectifyModalUT").value = ut;
	  (new bootstrap.Modal(document.getElementById('rectifyModal'))).show();
      }
      function openAccessModal(ut) {
	  document.getElementById("accessModalUT").value = ut;
	  (new bootstrap.Modal(document.getElementById('accessModal'))).show();
      }
    </script>
  </body>
</html>
