<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/record.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-lg-8 offset-lg-2 col-sm-12">
	  <div class="card">
	    <div class="list-group list-group-flush">
	      <a class="list-group-item list-group-item-action" href="/record">< Record of processing activities</a>
            </div>
	    <h5 class="card-header">Data access</h5>
	    <div class="card-header">Application: {{ app_name }}, UT: {{ ut }}</div>
	    <div class="card-body">
	      <div class="card-text">
		<table class="table table-condensed">
		  <thead>
		    <td>Application</td>
		    <td>Date</td>
		    <td>Link</td>
		  </thead>
		  {% for dataset in datasets %}
		  <tr>
		    <td class="col-3">{{ app_name }}</td>
		    <td class="col-6">{{ dataset.2 }}</td>
		    <td class="col-3"><a class="link-success" href="{{ url_prefix }}/dataset/{{ dataset.0 }}">Access</a> <a class="link-primary" href="{{ url_prefix }}/dump/{{ dataset.0 }}">Dump</a></td>
		  </tr>
		  {% endfor %}
		</table>
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>
