<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/record.css') }}">
        
    <title>The Databank</title>
  </head>
  <body>

    <header class="navbar navbar-light" id="navbar">
      <div class="container-fluid">
	<a class="navbar-brand" href="/">
	  The Databank
	</a>
      </div>
    </header>
    
    <div class="container">
      <div class="row">
	<div class="col-lg-8 offset-lg-2 col-sm-12">
	  <div class="card">
	    <div class="list-group list-group-flush">
	      <a class="list-group-item list-group-item-action" href="{{ url_prefix }}/dataset/{{ access_id }}">< Dataset {{ access_id }} ({{ datetime }})</a>
            </div>
	    <h5 class="card-header">Data access</h5>
	    <div class="card-header">Application: {{ app_name }}, UT: {{ ut }}</div>
	    <div class="card-body">
	      <div class="card-text">
		<h5>{{ table_name }}</h5>
		<table class="table table-condensed">
		  <thead>
		    <td>Row</td>
		    <td>Field</td>
		    <td>Value</td>
		  </thead>
		  <tbody>
		    {% for row in rows %}
		    {% for field in row.1 %}
		    <tr>
		      <td class="col-3">{{ row.0 }}</td>
		      <td class="col-3">{{ field.0 }}</td>
		      <td class="col-6">{{ field.1 }}</td>
		    </tr>
		    {% endfor %}
		    {% endfor %}
		  </tbody>
		</table>
		{% if has_hidden %}
		To protect other users' privacy, some data has been hidden.
		{% endif %}
	      </div>
	    </div>
	  </div>
	</div>
      </div>
    </div>

  </body>
</html>
