{% extends '/collection/conf/base.html' %}

{% block content %}

{% if error != "" %}
<div> {{ error }} </div>
{% endif %}

<form role="form" method="post" action="" enctype="multipart/form-data">

<h2 class="form-heading">Submit a Paper.</h2>

<div class="form-group">
  <label for="coauthors[]" class="control-label">Coauthors</label>
{% with coauth=coauthors %}
{% for coauthor in coauth %}
<div class="row">
<div class="col-xs-4">
  <input class="form-control" type="text" name="coauthors[]" id="coauthors[]" value="{{ coauthor }}" />
</div>
</div>
{% endfor %}
{% for i in range(8) %}
<div class="row">
<div class="col-xs-4">
  <input class="form-control" type="text" name="coauthors[]" id="coauthors[]" value="" />
</div>
</div>
{% endfor %}
{% endwith %}
</div>

<div class="form-group">
  <label for="title" class="control-label">Title</label>
<div class="row">
<div class="col-xs-8">
  <input class="form-control" type="text" name="title" id="title" value="{{ title }}" required/>
</div>
</div>
</div>

<div class="form-group">
  <label for="contents" class="control-label">Paper (pdf)</label>
  <input type="file" name="contents" id="contents" value="{{ contents }}" required/>
</div>

<div class="form-group">
  <label for="abstract" class="control-label">Abstract</label>
  <textarea class="form-control" name="abstract" id="abstract" rows="10" cols="40" required>{{ abstract }}</textarea>
</div>

<div class="form-group">
  <label for="pc_conflicts[]" class="control-label">PC Conflicts</label>
{% for pc in pcs %}
<div class="checkbox">
  <input type="checkbox" name="pc_conflicts[]" value="{{ pc.pc[1] }}"
  {% if pc.conflict %} checked {% endif %} />
  <label> {{ pc.pc[3] }} </label> <br />
</div>
{% endfor %}
</div>

<button class="btn btn-primary" type="submit" value="Submit" onClick="myApp.showPleaseWait();" >Submit</button>

</form>
{% endblock %}
