{% extends 'base.html' %}

{% block content %}
<h2>Assign Reviews</h2>
<form method="get" action="" role="form">
<h4>Select reviewer</h4>
<div class="form-group">
<div class="row">
<div class="col-md-4">
  <select class="form-control" name="reviewer_username">
    {% for r in possible_reviewers %}
    <option value="{{ r.username }}" {% if r == reviewer %}selected{% endif %}>{{ r.name }}</option>
    {% endfor %}
  </select>
</div>
</div>
</div>
<button type="submit" class="btn btn-primary" value="Go">Go</button>
</form>

{% if reviewer != None %}
<h4> Make assignments </h4>
<form method="post" action="" role="form">
<table class="table">
  {% for p in papers_data %}
  <tr>
    <td> {{ p.latest_version[1] }} </td>
    <td> {{ p.author_name }} </td>
    <td>
      <select name="assignment-{{ p.paper[0] }}">
	<option value="yes" {% if p.assignment != None and p.assignment[1] == 'assigned' %}selected{% endif %}>Assigned</option>
	<option value="no" {% if p.assignment == None or p.assignment[1] != 'assigned' %}selected{% endif %}>Not assigned</option>
      </select>
    </td>
    <td>
      {% if p.has_conflict %}
      Conflict!
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
<button type="submit" class="btn btn-primary" value="Save">Save</button>
</form>
{% endif %}

{% endblock %}

