{% extends '/collection/conf/base.html' %}

{% block content %}
    <form role="form" method="post" action="">
      <h2 class="form-heading">Profile.</h2>
      <div class="form-group">
        <label for="email" class="control-label"><a rel="tooltip" title="Visible to you and the PC chair."><span class="glyphicon glyphicon-eye-close"></span></a> Email</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="email" class="form-control" name="email" id="email" value="{{ email }}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="name" class="control-label"><a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></a> Name</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" name="name" id="name" value="{{ name }}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="affiliation" class="control-label"><a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></a> Affiliation</label>
        <div class="row">
          <div class="col-xs-4">
            <input type="text" class="form-control" name="affiliation" id="affiliation" value="{{ affiliation }}" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="pc_conflicts[]" class="control-label"><a rel="tooltip" title="Visible to you and the PC chair."><span class="glyphicon glyphicon-eye-close"></span></a> PC Conflicts</label>
        {% for pc in pcs %}
          <div class="checkbox">
            <input type="checkbox" name="pc_conflicts[]" value="{{ pc.pc.username }}"
                            {% if pc.conflict %} checked {% endif %} />
                        <label> {{ pc.pc.name }} </label> <br />
          </div>
        {% endfor %}
      </div>
      <button class="btn btn-primary" type="submit" value="Save" onClick="myApp.showPleaseWait();">Update</button>
    </form>
{% endblock %}
