{% extends "collection/minitwit/layout.html" %}
{% block title %}Sign Up{% endblock %}
{% block body %}
<h2>Sign Up</h2>
<form action="" method=post>
  <dl>
    <dt>User ID:
     <dd><input type=text name=id size=30 readonly value="{{ id }}"></dd>
    </dt>
    <dt>Username:
      <dd><input type=text name=name size=30 readonly value="{{ name }}"></dd>
    </dt>
  </dl>
  <div class=actions><input type=submit value="Sign Up"></div>
</form>
{% endblock %}
