{% extends 'base.html' %}

{% block content %}
    <div class="container marketing">

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Conference management by Jeeves.</h2>
          <p class="lead">This site runs on the Python implementation of the <a href="http://jeeveslang.org" target="blank">Jeeves language</a> for automatically enforcing privacy policies. Jeeves makes sure each user only sees what they are supposed to see.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/img/robot_butler.png" alt="Robotic butler.">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/img/focus_on_functionality.png" alt="Focus on functionality.">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Jeeves helps us get privacy right.</h2>
          <p class="lead">Jeeves allows the programmer to separately implement information flow policies from other functionality, decreasing the points of failure.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">We want Jeeves to work for you.</h2>
          <p class="lead">We are working on a Python Jeeves implementation. We would love your feedback on the project and case studies, including this site! Look at our <a href="http://jeeveslang.org" target="blank">site</a> or browse our code <a href="https://github.com/jeanqasaur/jeeves" target="blank">on GitHub</a>.</p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive" src="static/img/under_construction_sign.png" alt="Under construction.">
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->
    </div>

{% endblock %}
