<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="description" content="Jeeves demo conferance management system" />

  	<title>Conference Management System</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/static/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="/static/css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="/static/css/modal.css" rel="stylesheet">
    <link href="/static/css/signin.css" rel="stylesheet">
    <link href="/static/css/carousel.css" rel="stylesheet">
    <link href="/static/css/custom.css" rel="stylesheet">
</head>

<body role="document">
  {% include 'navbar.html' %}

  <div class="jumbotron">
    <div class="toptext">
      <h2>2nd Workshop on Programming Languages and Technology for Massive Open Online Courses (PLOOC 2014)</h2>
      <h3>June 13 2014, Co-Located With PLDI 2014 in Edinburgh, UK</h3>
        <p>This submission site is powered by the Jeeves programming language for automatically enforcing privacy policies. Mouse over <a rel="tooltip" title="Visible to everyone."><span class="glyphicon glyphicon-eye-open"></span></a> and <a rel="tooltip" title="Selectively visible."><span class="glyphicon glyphicon-eye-close"></span></a> for more information about policies!</p>
        <p><a class="btn btn-primary btn-lg" role="button" href="/about" onClick="myApp.showPleaseWait();">About This Site &raquo;</a></p>
    </div>
  </div>

  <div class="container">
    {% block content %}Content goes here{% endblock %}
  </div>

  {% include 'footer.html' %}

<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</body>
    <script type="text/javascript">
      var myApp;
myApp = myApp || (function () {
    var pleaseWaitDiv = $('<div class="modal modal-static fade" id="processing-modal" role="dialog" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-body"><div class="text-center"><img src="static/img/loading.gifstatic/" class="icon" /><h4>Processing... <button type="button" class="close" style="float: none;" data-dismiss="modal" aria-hidden="true">×</button></h4></div></div></div></div></div>');
    return {
        showPleaseWait: function() {
            pleaseWaitDiv.modal();
        },
        hidePleaseWait: function () {
            pleaseWaitDiv.modal('hide');
        },

    };
})();
    </script>

    <script type="text/javascript">
    $(function () {
        $("[rel='tooltip']").tooltip();
    });
    </script>
</html>
