<!-- Fixed navbar -->
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
       </button>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li {% if which_page=="home" or (not which_page) %}class="active"{% endif %} onClick="myApp.showPleaseWait();"><a href="/index">Home</a></li>
        {% if current_user.is_authenticated %}
        <li {% if which_page=="submit" %}class="active"{% endif %}><a href="/submit" onClick="myApp.showPleaseWait();">Submit</a></li>
        <li {% if which_page=="profile" %}class="active"{% endif %}><a href="/accounts/profile" onClick="myApp.showPleaseWait();">Profile</a></li>
        {% endif %}
        {% if is_admin %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="/assign_reviews">Assign Reviews</a></li>
              <li><a href="/users">Users</a></li>
            </ul>
          </li>
        {% endif %}
        {% if current_user.is_authenticated %}
          <li><a href="/accounts/logout">Log Out</a></li>
        {% else %}
          <li {% if which_page=="register" %}class="active"{% endif %}><a href="/accounts/register">Register</a></li>
        {% endif %}
     </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>
