{% extends 'base.html' %}

{% block content %}
    <div class="page-header">
      <h1>Submit a Comment.</h1>
    </div>

    <form method="post" action="">
    	<input type="hidden" name="id" value="{{paper.id}}" />
    	<table>
			{{ form }}
		</table>
        <input type="submit" value="Submit" />
    </form>
{% endblock %}
