﻿{{ comment }}
	This page is the popup when viewing an information set, either that an
	entity used in a transaction, or the entity gave to a business associate.
	All individuals referenced are linked to a page with their own information,
	as are all entities and business associates that are connected with an entity.
{{ endcomment }}
<div class="modal fade" id="myModal{{ loop.index }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h3 class="modal-title" id="myModalLabel">Information Set</h3>
            </div>
            <div class="modal-body">
                {% if data.Visits|length >0 %}
                <h4>Hospital Visits:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Name
                            </td>
                            <td>
                                Date Admitted
                            </td>
                            <td>
                                Date Left
                            </td>
                            <td>
                                Location
                            </td>
                            <td>
                                Condition
                            </td>
                            <td>
                                Religious Affiliation
                            </td>
                        </tr>
                    </thead>
                    {% for transfer in data.Visits %}
                    <tr>
                        <td>
                            <a href='patients/{{transfer.Visit.patient.id}}'>
                                {{ transfer.Visit.patient.Name }}
                            </a>
                        </td>
                        <td>
                            {{ transfer.Visit.date_admitted }}
                        </td>
                        <td>
                            {{ transfer.Visit.date_released }}
                        </td>
                        <td>
                            {{ transfer.Visit.location }}
                        </td>
                        <td>
                            {{ transfer.Visit.condition }}
                        </td>
                        <td>
                            {{ transfer.Visit.patient.ReligiousAffiliation }}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if data.Diagnoses|length >0 %}
                <h4>Diagnoses:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Patient
                            </td>
                            <td>
                                Date
                            </td>
                            <td>
                                Code
                            </td>
                            <td>
                                Diagnosis
                            </td>
                            <td>
                                Recognized By
                            </td>
                        </tr>
                    </thead>
                    {% for transfer in data.Diagnoses %}
                    <tr>
                        <td>
                            <a href='/patients/{{transfer.Diagnosis.Patient.id}}'>
                                {{ transfer.Diagnosis.Patient.Name }}
                            </a>
                        </td>
                        <td>
                            {{ transfer.Diagnosis.DateRecognized }}
                        </td>
                        <td>
                            {{ transfer.Diagnosis.Manifestation }}
                        </td>
                        <td>
                            {{ transfer.Diagnosis.Diagnosis }}
                        </td>
                        <td>
                            <a href='/entities/{{transfer.Diagnosis.RecognizingEntity.id}}'>
                                {{ transfer.Diagnosis.RecognizingEntity.name }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
                {% if data.Treatments|length >0 %}
                <h4>Treatments:</h4>
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <td>
                                Patient
                            </td>
                            <td>
                                Date
                            </td>
                            <td>
                                Code
                            </td>
                            <td>
                                Prescribed By
                            </td>
                            <td>
                                Performed/Provided By
                            </td>
                        </tr>
                    </thead>
                    {% for transfer in data.Treatments %}
                    <tr>
                        <td>
                            <a href='/patients/{{transfer.Treatment.patient}}'>
                                {{ transfer.Treatment.patient.Name }}
                            </a>
                        </td>
                        <td>
                            {{ transfer.Treatment.date_performed }}
                        </td>
                        <td>
                            {{ transfer.Treatment.service }}
                        </td>
                        <td>
                            <a href='/entities/{{transfer.Treatment.prescribing_entity.id}}'>
                                {{ transfer.Treatment.prescribing_entity.name }}
                            </a>
                        </td>
                        <td>
                            <a href='/entities/{{transfer.Treatment.prescribing_entity.id}}'>
                                {{ transfer.Treatment.prescribing_entity.name }}
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
