{% extends 'base.html' %}

{% block content %}
<form role="form" method="post" action="">
    <h2 class="form-heading">Profile.</h2>
    <div class="form-group">
        <label for="name" class="control-label"> Name</label>
        <div class="row">
            <div class="col-xs-4">
                <input type="text" class="form-control" name="name" id="name" value="{{ profile.name }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="email" class="control-label"><a rel="tooltip" title="Visible to only you."></a> Email</label>
        <div class="row">
            <div class="col-xs-4">
                <input type="email" class="form-control" name="email" id="email" value="{{ profile.email }}">
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="profiletype" class="control-label"> Profile type</label>
        <div class="row">
            <div class="col-xs-4">
                <input type="number" class="form-control" name="profiletype" id="profiletype" value="{{ profile.profiletype }}">
            </div>
        </div>
    </div>
    <button class="btn btn-primary" type="submit" value="Save" onClick="myApp.showPleaseWait();">Update</button>
</form>
{% endblock %}
