﻿{{ comment }}
	This page shows all transactions a covered entity has with other
	covered entities. Each transaction contains shard data, that is the information
	that was needed to complete the transaction standard. Every transaction should
	have a standard. (I think.)
{{ endcomment }}
<html><body>
{% extends "base.html" %}
{% block title %}
	Transactions
{% endblock %}

{% block top %}
	<h2>
		History of data transactions by the entity.
	</h2>
{% endblock %}
{% block content %}
	<div class="container">
		<div class="page-header">
			<h2>
				{{ entity.name }}
			</h2>
		</div>
		<ul class="nav nav-tabs" data-tabs="tabs">
			<li>
				<a href=".">
					Directory
				</a>
			</li>
			<li class="active">
				<a href="transactions">
					Transactions
				</a>
			</li>
			<li>
				<a href="associates">
					Business Associates
				</a>
			</li>
		</ul>
		<br>
		<table class="table table-striped table-hover">
			<thead>
				<tr>
					<td>
						Standard 
					</td>
					<td>
						Other Entity 
					</td>
					<td>
						Information Shared 
					</td>
					<td>
						Date Requested 
					</td>
					<td>
						Date Responded 
					</td>
					<td>
						Purpose 
					</td>
				</tr>
			</thead>
      {% for transaction in transactions|list + other_transactions|list %}
			<tr>
				<td>
					{{ transaction.Standard }}
				</td>
				<td>
					{% if transaction.SecondParty == entity %}
					<a href='/entities/{{transaction.FirstParty.id}}'>
						{{ transaction.FirstParty.name }}
					</a>
					{% else %}
					<a href='/entities/{{transaction.SecondParty.id}}'>
						{{ transaction.SecondParty.name }}
					</a>
					{% endif %}
				</td>
				<td>
					{% with data=transaction.SharedInformation %}
					<a href="#myModal{{ loop.index }}" data-toggle="modal">&hellip;</a>
					{% include "informationModal.html" %}
					{% endwith %}
				</td>
				<td>
					{{ transaction.DateRequested }}
				</td>
				<td>
					{{ transaction.DateResponded }}
				</td>
				<td>
					{{ transaction.Purpose }}
				</td>
			</tr>
			{% endfor %}
		</table>
	</div>
{% endblock %}
</body></html>
