{% extends 'base.html' %}

{% block content %}
    <h2>User</h2>
    <form method="post" action="" role="form">
        <table class="table">
            <tr>
                <th> Name </th>
                <th> Affiliation </th>
                <th> E-mail </th>
                <th> Type </th>
            {% for profile in user_profiles %}
                <tr>
                    <td>
                        {{profile.name}}
                    </td>
                    <td>
                        {{profile.affiliation}}
                    </td>
                    <td>
                        {{profile.email}}
                    </td>
                    <td>
                      <div class="radio">
                        <input type="radio" name="level-{{profile.username}}" value="individual"
                                {% if profile.profiletype == 1 %} checked {% endif %} />
                        Individual <br />
                        <input type="radio" name="level-{{profile.username}}" value="coveredEntity"
                                {% if profile.profiletype == 2 %} checked {% endif %} />
                        Covered Entity <br />
                        <input type="radio" name="level-{{profile.username}}" value="businessAssociate"
                                {% if profile.profiletype == 3 %} checked {% endif %} />
                        Business Associate <br />
			            <input type="radio" name="level-{{profile.username}}" value="government"
                                {% if profile.profiletype == 4 %} checked {% endif %} />
                        Government <br />
			            <input type="radio" name="level-{{profile.username}}" value="research"
                                {% if profile.profiletype == 5 %} checked {% endif %} />
                        Research <br />
			            <input type="radio" name="level-{{profile.username}}" value="clergy"
                                {% if profile.profiletype == 6 %} checked {% endif %} />
                        Clergy <br />
                      </div>
                    </td>
                </tr>
            {% endfor %}
        </table>
        <button type="submit" class="btn btn-primary" value="Save">Save</button>
    </form>
{% endblock %}
